@model Labb_3.Models.InterestLink

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InterestLink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interest.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
